body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

body{
    margin: auto 0;
		font-family: 'Ubuntu', sans-serif;
}


/*----------main nav----------*/
.main-nav{
	display: -ms-grid;
	display: grid;
	gap: 0px;
	-ms-grid-columns: 2fr 0px 4fr 0px 1fr 0px 1fr;
	grid-template-columns: 2fr 4fr 1fr 1fr;
    list-style-type: none;
	font-size: 2em;
    background-color: rgba(75, 171, 175, 1);
	text-align: center;
	margin: 0;
	padding: 10px;
}


.icon{
	width: 35px;
	height: 35px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}

.icon:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.pushr{
    margin-right: auto;
}

.pushl{
	margin-left: auto;
}

.logo{
	width: 4em;
	height: 1em;
}


/*----------cover----------*/
/*.carousel-inner > .carousel-item > img {

 }*/


/*----------Collection----------*/
.tile{
 	padding: 50px;
 	-webkit-box-flex: 0;
 	    -ms-flex: 0 0 auto;
 	        flex: 0 0 auto;
 	margin: 20px 10px;
 	text-align: center;

 --s: 100px; /* control the size */

 --c1: #4ECDC4;
 --c2: rgba(255, 145, 67, 0.9);

  background: 
    -o-linear-gradient(116.56deg,var(--c1) 33%,var(--c2) 33.3% 66.6%,var(--c1) 67%) 
    0/var(--s) var(--s);

  background: 
    linear-gradient(-26.56deg,var(--c1) 33%,var(--c2) 33.3% 66.6%,var(--c1) 67%) 
    0/var(--s) var(--s);
  border-radius: 20px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;

}

.tile:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.scrolling-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(75, 171, 175, 1);
}

.scrolling-wrapper::-webkit-scrollbar{
    display: none;
}

.scrolling-wrapper{
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.tile img{
	height: 10.6em;
	width: 10.6em;
}

.align{
	color: white;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 1.2em;
}


/*----------newsletter----------*/
.newsletter{
	padding: 40px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
  
  --s: 200px; 
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
}

.form_mail{
	color: white;
	background: transparent;
	padding: 5px 25px;
	border: 2px solid  white;
	border-radius: 15px;
	margin: 5px 10px;
	outline: none;
}

.form_btn{
	color: white;
	background-color: rgba(75, 171, 175, 1);
	padding: 5px 25px;
	border: 2px solid rgba(75, 171, 175, 1);
	border-radius: 30px;
	margin: 5px 10px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.cover_btn{
	text-transform: uppercase;
	margin-top: 20px;
}

.form_btn:hover{
	-webkit-transform: scale(1.15);
	    -ms-transform: scale(1.15);
	        transform: scale(1.15);
}


/*----------Lower Nav----------*/
.lower-nav{
	display: -ms-grid;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	justify-items: stretch;
	background-color: rgba(75, 171, 175, 1);
	padding: 10px;
	font-size: 1.2em;
}

.promise{
	text-align: center;
	background-color: rgba(64, 127, 127, 0.5);
	color: rgba(255, 255, 255, 0.7);
	padding: 5px;
}

.promise h5, .social h5, .quicklinks h5{
	color: rgba(255, 255, 255, 1);
}

.social h5{
	text-align: center;
}

.quicklinks, .social ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.quicklinks ul, .social ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social ul{
	opacity: 0.75;
}

.quicklinks > ul > li > a, .social > ul > a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
}

.copyright{
	text-align: center;
	font-size: 1em;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.8);
}
